:root {
    --color-primary: rgb(162, 24, 242);
    --color-primary-hover: rgb(145, 23, 216);
    --color-primary-disabled: rgb(190, 141, 218);
}

* {
    box-sizing: inherit;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

hr {
    width: 90vw;
    max-width: 450px;
    border: 1px solid black;
    height: 1px;
}

h1 {
    text-align: center;
    display: flex;
    height: 10vh;
    align-items: center;
}

input[type="text"], input[type="password"], input[type="email"] {
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: #eeeeee;
    margin: 5px 0;
    transition: all .3s ease-in-out;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AddForm {
    height: 10vh;
    display: flex;
    align-items: center;
}

.TodoList {
    width: 90vw;
    max-width: 450px;
    margin: 0 auto;
    overflow-y: auto;
    height: 100%;
}

.Todo {
    display: flex;
    justify-content: space-between;
}

.Todo span {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 2px 8px;
    transition: all .3s ease-in-out;
}

.Todo div {
    display: flex;
    justify-content: right;
}

.centered {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
}

.todo-list-container {
    padding: 20px;
    width: 100vw;
    max-width: 100%;
    height: 65vh;
}

.btn {
    border: none;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin: 5px 10px;
    font-weight: bold;
}

.btn-main {
    background-color: var(--color-primary);
    color: white;
}

.btn-main:disabled {
    background-color: var(--color-primary-disabled);
    cursor: default;
}

.btn-plain {
    background-color: transparent;
    color: black;
}

.btn-link {
    background-color: white;
    color: black;
    text-decoration: underline;
}

.error-message {
    color: red;
}

.loading {
    padding: 150px;
}

@media only screen and (min-width: 769px) {
    input[type="text"]:hover,
    input[type="password"]:hover,
    input[type="email"]:hover {
        background-color: #e0e0e0;
    }

    .TodoList {
        box-shadow: 0 4px 10px #e0e0e0;
        padding: 20px;
    }

    .Todo span:hover {
        background-color: #eeeeee;
    }

    .btn-plain:hover {
        background-color: #eeeeee;
    }

    .btn-main:hover:enabled {
        background-color: var(--color-primary-hover);
    }
}
