.todo-list {
    box-shadow: 0 4px 8px #d4d8db;
    padding: 20px;
    height: 50vh;
    width: 300px;
    margin-bottom: 20px;
    overflow-y: scroll;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo span {
    width: 90%;
    padding: 8px;
    border-radius: 8px;
    transition: all .3s ease-in-out;
}

.todo span:hover {
    background-color: #eeeeee;
}